* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000046, #1cb5e0);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width:150px;
    height:150px;
    border-radius:50%;
}

header h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

header h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    margin: 0 auto;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.links li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
