body {
  background: linear-gradient(to bottom right, #000046, #1cb5e0);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  width:150px;
  height:150px;
  border-radius:50%;
}

header h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

header h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

main {
  padding: 20px;
}

section {
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
}

img.clip {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

img.email {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

img.linkedin {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
